html, body {
    height: 100%;
}

div#container {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

#header {
    flex: 0 1 auto;
}

div#placenames {
    font-size: 120%;
    text-align: center;
}

div#times {
    text-align: center;
}

#chart {
    flex: 1 1 auto;
    overflow-y: hidden;
}

#chart svg {
    width: 100%;
    max-height: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.line.best_guess {
    stroke: blue;
}

.line.pessimistic, .line.optimistic {
    stroke: darkgray;
}

.fill {
    stroke: none;
    fill: lightgray;
}
